/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/web/documents/*
!web/documents/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/tmp/
/session/
/www/
.idea/
web/front
/web/uploads/*
!web/uploads/.gitkeep
.DS_Store
app/config/parameters_skp.yml
app/bootstrap.php.cache
app/config/parameters_isz.yml
